*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h1 {
  margin: 0 0 10px 0;
  font-weight: normal;
}
form {
  padding-top: 15px;
}
input {
  width: 100%;
}
button {
  margin-top: 5px;
}
.wrapper {
  position: relative;
  margin: 0px auto;
  padding: 15px;
  width: 400px;
  border: 1px solid silver;
}
.autocomplete.is-loading:before {
  position: absolute;
  padding: 3px;
  right: 10px;
  top: 10px;
  content: "loading...";
  font-size: 10px;
  background-color: yellow;
}
.autocomplete__results {
  position: relative;
}
.autocomplete__list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid silver;
  background: white;
}
.autocomplete__list__item {
  padding: 3px;
  font-size: 0.8em;
  border-bottom: 1px solid silver;
  background: white;
  cursor: pointer;
}
.autocomplete__list__item:last-child {
  border-bottom: 0px;
}
.autocomplete__list__item--disabled {
  color: gray;
  cursor: default;
}
.autocomplete__list__item--highlighted {
  background: whitesmoke;
}
.autocomplete__list__item__search-term {
  background-color: yellow;
}
