*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#wrapper {
  margin: 0px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 15px;
}
h1 {
  margin: 0 0 10px 0;
  font-weight: normal;
}
#autocomplete1 {
  width: 100%;
}
.is-hidden {
  display: none;
}
.autocomplete {
  position: relative;
}
.autocomplete__results {
  list-style: none;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.autocomplete__results__item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  font-size: 0.8em;
}
.autocomplete__results__item:last-child {
  border: 0px;
}
.autocomplete__results__item--highlight {
  background: #efefef;
}
.autocomplete__search-term--highlight {
  background-color: yellow;
}