*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#wrapper {
  margin: 0px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 15px;
}
h1 {
  margin: 0 0 10px 0;
  font-weight: normal;
}
#autocomplete1 {
  width: 100%;
}
.is-hidden {
  display: none;
}
.autocomplete {
}
.autocomplete__results {
  position: relative;
}
.autocomplete__results--container {
  list-style: none;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}
.autocomplete__results--item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  font-size: 0.8em;
}
.autocomplete__results--item:last-child {
  border: 0px;
}
.autocomplete__results--item:hover,
.autocomplete__results--item--highlight {
  background: #efefef;
}